{% extends "layout.html" %}
{% block body %}

  <h2>Status: {{ status }}</h2>

  <h3 class="status">ajax statuses go here</h3>

  <form action="{{ url_for('buzzer_control') }}" method="post" class="add-entry">
    <dl>
      <dt>Door release:
      <dd><input type="submit" value="Door">
    </dl>
  </form>

  <script type="text/javascript">
    var statusEl = $( "h3.status" )
    $.ajax({
      method: "GET",
      url: "{{ url_for('get_status') }}",
      cache: false
      dataType: "json"
    })
    .done(function( status ) {
      $( statusEl ).html( status )
    })
  </script>

{% endblock %}
